@import "./base.css";

#app {
  min-height: 100vh;
  overflow: hidden;
  background-color: white;
  background-image: url("https://i.328888.xyz/2023/01/17/H4KL5.png");
}

.el-notification.right {
  width: 336px !important;
}

.articleCard {
  box-shadow: 0 1px 20px -6px rgb(0 0 0 / 50%);
  border-radius: 10px !important;
  --el-card-padding: 0px !important;
}

.articleCard:hover {
  box-shadow: 0 5px 10px 5px rgb(110 110 110 / 40%) !important;
  border-color: rgba(255 255 255 / 100%) !important;
}

.articleCard:hover .articleImg {
  transform: scale(1.1);
}

.articleImgBox {
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.articleImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition-duration: 0.6s;
  transition-timing-function: ease;
}

.articleImg:hover {

}

.el-menu-header {
  --el-menu-active-color: #FF9671 !important;
  --el-menu-hover-text-color: #FF9671 !important;
  --el-menu-text-color: #3a3a3a !important;
  --el-menu-bg-color: rgba(255, 255, 255, 0.6) !important;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow:inset 0 0 6px rgba(255, 255, 255, 0.2);
}

.item {
  --el-menu-hover-bg-color: rgba(255, 255, 255, .0) !important;
}

.el-menu-item.is-active {
  border-bottom: rgba(255, 255, 255, .0) !important;
}

#articleBody {
  --el-main-padding: 20px !important;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #eee;
}

::-webkit-scrollbar-thumb {
  background: #FF9671;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #eee;
}

@media screen and (max-width: 1070px) {
  .side {
    display: none;
  }
  #github{
    display: none;
  }
}

.el-divider__text{
  background-color: rgba(255, 255, 255, 0) !important;
}